<table id="inboxDataTable" class="display">
	<thead>
		<tr>
			<th style="width: 20%; padding-left: 2%; font-weight: bold;">@ViewBag.DateTitle</th>
			<th style="width: 33%; padding-left: 2%; font-weight: bold;">@ViewBag.MonApplianceName</th>
			<th style="width: 15%; padding-left: 2%; font-weight: bold;">@ViewBag.MonSignalName</th>
			<th></th>
			<th style="width: 15%; padding-left: 2%; font-weight: bold;">@ViewBag.MonAlarmTypeName</th>
			<th style="width: 15%; padding-left: 2%; font-weight: bold;">@ViewBag.MonValue</th>            
			<th style="width: 2%; padding-left: 2%; font-weight: bold;">@String.Empty</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		$('#inboxDataTable').dataTable({
			"bFilter": false,
			"bProcessing": true,
			"bServerSide": true,
			"iDisplayLength": 6,
			"sAjaxSource": "../Home/FillGridReturnList",
			"sPaginationType": "full_numbers",
			"oLanguage": {
				"sUrl": "../Content/es-CO.txt"
			},
			"aoColumns": [
							{ "sName": "DATE",
								"bSortable": false
							},
							{ "sName": "MON_APPLIANCE_NAME",
								"bSortable": false
							},
							{ "sName": "MON_SIGNAL_NAME",
								"bSortable": false
							},
							{ "sName": "MON_ALARMTYPE_ID",
								"bVisible": false
							},
							{ "sName": "MON_ALARMTYPE_NAME",
								"bSortable": false
							},
							{ "sName": "MON_VALUE",
								"bSortable": false
							},
							{
								"sName": "ID",
								"bSearchable": false,
								"bSortable": false,
								"fnRender": function (oObj) {
									return '<a href=\"#\"><img src=\"../Content/Images/3edit.png\" alt=\"edit\" title=\"Reconocer\" onclick=\"overlay(' + oObj.aData[6] + ')\" /></a>';
								}
							}
						]
		});
	});
</script>