@model SMCLCore.Domain.Model.Appliance

@{
    ViewBag.Title = "Equipos - Eliminar";
}

<table id="no_css" width="100%">
    <tr>
        <td>
            <div class="titlejQGrid">Eliminar</div>
        </td>
        <td style="text-align: right;">
            <a href="../Index">
                <img src="@Url.Content("~/Content/Images/jnj_reports_go_back.png")" alt="regresar" title="Regresar" border="0" />
            </a>
            <span>&nbsp;Regresar...</span>
        </td>
    </tr>
</table>

<h3>Desea eliminar este registro?</h3>
<fieldset>
    <div style="color: #F00; text-decoration: blink;">
        @ViewData["ValidationErrorMessage"].ToString()
    </div>
    <legend>Equipos</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameAppliance)
    </div>

    <div class="display-label">Descripción</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Áreas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area.Name)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <input type="submit" value="Eliminar" /> <label> | </label>
    <a href="../Index" style="text-decoration: none;">
        <img src="@Url.Content("~/Content/Images/jnj_reports_go_back.png")" alt="regresar" title="Regresar" border="0" />
    </a>
    <span>&nbsp;Regresar...</span>
}