@model SMCLCore.Domain.Model.SignalApplianceValue

@{
    ViewBag.Title = "Señales por equipo - Eliminar";
}

<table id="no_css" width="100%">
    <tr>
        <td>
            <div class="titlejQGrid">Eliminar</div>
        </td>
        <td style="text-align: right;">
            <a href="../Index">
                <img src="@Url.Content("~/Content/Images/jnj_reports_go_back.png")" alt="regresar" title="Regresar" border="0" />
            </a>
            <span>&nbsp;Regresar...</span>
        </td>
    </tr>
</table>

<h3>Desea eliminar este registro?</h3>
<fieldset>
    <div style="color: #F00; text-decoration: blink;">
        @ViewData["ValidationErrorMessage"].ToString()
    </div>
    <legend>Señales por equipo</legend>

    <table id="no_css" width="80%">
        <tr>
            <td style="width: 50%;">
                <div class="display-label">Valor</div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Value)
                </div>
            </td>
            <td>
                <div class="display-label">Equipo</div>
                <div class="display-field">
                    @Html.Display("ApplianceName")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">Señal</div>
                <div class="display-field">
                    @Html.Display("SignalName")
                </div>
            </td>
            <td>
                <div class="display-label">Tipos de Alarma</div>
                <div class="display-field">
                    @Html.Display("AlarmTypeName")
                </div>
            </td>
        </tr>
        <tr>
            <td>                    
                @using (Html.BeginForm()) {
                    <p>
                        <input type="submit" value="Eliminar" /> |
                        <a href="../Index">
                            <img src="@Url.Content("~/Content/Images/jnj_reports_go_back.png")" alt="regresar" title="Regresar" border="0" />
                        </a>
                        <span>&nbsp;Regresar...</span>
                    </p>
                }
            </td>
        </tr>
    </table>
</fieldset>